<auth-form title="{{'AUTH.LOGIN.TITLE' | translate}}">
  <form>
    <auth-input id="email" label="{{'AUTH.LOGIN.EMAIL' | translate}}" type="email" name="email"/>

    <auth-input id="password" label="{{'AUTH.LOGIN.PASSWORD' | translate}}" type="password" name="password"/>

    <auth-link value="{{'AUTH.LOGIN.FORGOT' | translate}}" link="/auth/forgot-password"/>

    <auth-button value="{{'AUTH.LOGIN.BUTTON' | translate}}"/>

    <auth-link value="{{'AUTH.LOGIN.REGISTER' | translate}}" link="/auth/register"/>
  </form>
</auth-form>
