<main>
  <section class="welcomePage">
    <section class="welcomePage__shadow">
      <article class="welcomePage__texto">
        <aside>
          <h2>I'm Eyder Tinoco</h2>
          <h3>Web Developer</h3>
        </aside>

        <app-rede-social></app-rede-social>
      </article>
    </section>
  </section>

  <section class="bodyHome">
    <section class="hiddenSection bodyHome__post">
      <h4 class="bodyHome__post__title">Últimas Postagens</h4>

      <section class="bodyHome__post__news">
        <article *ngFor="let youtubeLink of youtubeList">
          <a href="#" routerLink="{{youtubeLink.link}}">
            <div class="bodyHome__post__news--link"
                 [style.background-image]="'url(' + youtubeLink.banner + ')'">
              <h3>{{youtubeLink.title}}</h3>
            </div>
          </a>
        </article>
      </section>

      <div class="buttonVejaMain">
        <a routerLink="blog">Veja Mais</a>
      </div>
    </section>

    <aside class="hiddenSection bodyHome__area bodyHome__information">
      <h4>Sobre mim</h4>

      <article class="sobreMim__article">
        <p>{{ sobremin_texto1 }}</p>
      </article>
    </aside>
  </section>
</main>
