@import "../../../assets/sass/layout/layout";

.hiddenSection {
  opacity: 0;
  filter: blur(15px);
  transition: all 1s;
  transform: translateX(-100%);
}
.showSection {
  opacity: 1;
  filter: blur(0);
  transition: all 1s;
  transform: translateX(0);
}

.welcomePage {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  @include media(phone, tablet) {
    flex-direction: column;
  }
  &__shadow {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 60px;
  }
  &__texto {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: $neutrals100;
    width: 100%;
    @include media(phone, tablet) {
      position: absolute;
      z-index: 1001;
    }
    & h1, h2 {
      margin: 0;
    }
    & h1 {
      font-size: 3rem;
    }
    & h2 {
      font-size: 1.5rem;
    }
  }
}

.bodyHome {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 100vh;
  padding-top: 60px;
  background: linear-gradient(210deg ,#efefef, #c1c1c1, #efefef);
  &__area {
    background: $neutrals400;
    border-radius: 10px;
    box-shadow: 0 0 6px $neutrals900;
  }
  &__post {
    margin: 20px;
    padding: 20px;
    width: 100%;
    &__title {
      margin: 0 0 20px 0;
      text-align: center;
      font-size: 1.5rem;
      border-bottom: 1px solid;
      padding-bottom: 10px;
      text-transform: uppercase;
      font-weight: 800;
    }
    &__news {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      &--link {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 180px;
        width: 250px;
        border-radius: 5px;
        box-shadow: 0 0 10px $neutrals900;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        & h3 {
          margin: 0;
          background: linear-gradient(0deg, $neutrals900, transparent);
          border-radius: 0 0 5px 5px;
          width: 100%;
          text-align: center;
          padding: 60px 0 10px;
          color: $neutrals100;
          text-shadow: 0 0 4px $neutrals900;
        }
      }
    }
  }
  &__information {
    margin: 20px;
    padding: 20px;
    width: 400px;
  }
}


.buttonVejaMain {
  display: flex;
  align-items: center;
  justify-content: center;
  & a {
    background: red;
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 300px;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 5px black;
  }
}
