@import "../../../../assets/sass/layout/layout";

.tecnology {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  @include media(tablet, laptop, desktop, big-screen) {
    margin: 10px;
  }
  @include media(phone) {
    margin: 10px 0;
  }
  &__description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &__certify {
    margin-bottom: 20px;
    @include media(laptop, desktop, big-screen) {
      width: 240px;
    }
    @include media(phone, tablet) {
      width: 200px;
    }
  }
}
