<main>
  <section class="section contato">
    <h1>Contato</h1>
    <form class="contato__form" action="https://api.staticforms.xyz/submit" method="post">
      <div class="contato__form__column">
        <label>Nome</label>
        <input name="name" type="text" required/>
      </div>

      <div class="contato__form__column">
        <label>Email</label>
        <input name="email" type="email" required/>
      </div>

      <div class="contato__form__column">
        <label>Texto</label>
        <textarea name="message" required></textarea>
      </div>

      <button type="submit">Enviar</button>

      <input type="hidden" name="accessKey" value="3e3cd3a3-e0b1-4a5b-b6b7-9d134207d8e9">
<!--      <input type="hidden" name="redirectTo" value="https://eyder.com.br">-->
    </form>
  </section>

  <p *ngIf="textoEnviado">Texto enviado com sucesso</p>
</main>
