$primary800: #0d47a1;
$primary500: #1565c0;
$primary400: #2171a0;
$primary300: #6496ce;

$secondary600: #d06b19;
$secondary500: #F58428;
$secondary400: #ffa254;

$neutrals900: #000000;
$neutrals800: #191A1A;
$neutrals700: #393A3A;
$neutrals600: #575959;
$neutrals500: #8d8c8c;
$neutrals400: #a9a7a7;
$neutrals300: #d5d5da;
$neutrals200: #e8eaed;
$neutrals100: #FFFFFF;

$badge: #ff4500;

$error: #d93700;
$success: #477F42;

$shadow: #00000095;

$transparente: transparent;
