.layout-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    border-top: 1px solid var(--surface-border);
}

.p-megamenu {
    padding: 0;
    border: 0;
    border-radius: 0;
    &-start {
        position: absolute;
        width: 20%;
        text-align: center;
        & .p-element {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            & .p-button {
                flex-direction: column;
                background: none;
                color: #6c757d;
                border: none;
                &-icon {
                    color: $primary500 !important;
                    font-size: 1.6rem;
                    margin: 0rem;
                }
                &-label {
                    color: $primary500 !important;
                    font-size: 0.6rem;
                    font-weight: 400;
                    margin-top: 4px;
                    text-align: center;
                }
            }
        }
    }
    &-root-list {
        flex-wrap: nowrap;
        justify-content: end;
        & .p-menuitem {
            &-link {
                cursor: pointer;
                text-decoration: none;
                display: flex;
                align-items: center;
                color:var(--text-color);
                padding: .75rem 1rem;
                transition: background-color .15s;
                &-active {
                    background: $primary500 !important;
                    border-radius: 0px !important;
                    & .p-menuitem-icon, .p-menuitem-text {
                        color: $neutrals100 !important;
                    }
                }
            }
            &-icon {
                color: $primary500 !important;
                margin: 0rem;
            }
            &-text {
                color: $primary500 !important;
                margin: 0rem;
            }

            &.active-menuitem {
                > a {
                    .menuitem-toggle-icon {
                        &:before {
                            content: '\e933';
                        }
                    }
                }
            }
        }
    }
    & .p-menuitem {
        width: 20%;
        &-link {
            flex-direction: column;
            justify-content: space-between;
            height: 4rem;
            padding: 10px 0 !important;
        }
        &-text {
            font-size: 0.6rem;
            text-align: center;
        }
        &-icon {
            margin: 0 !important;
            font-size: 1.6rem;
        }
    }
}
