<main>
  <section id="sobre" class="sobre">
    <section class="sobre__title">
      <h2>TITULO CHAMATIVO</h2>
      <h3>Texto de descrição</h3>
    </section>
  </section>

  <section id="portfolio" class="portfolio">
    <h4 class="title">Portfolio</h4>
    <div>
      <label>Sobre mim</label>
      <p>{{sobremin_texto1}}</p>
    </div>
    <div>
      <label>Experiência profissional</label>
      <ul>
        <li>sdsad</li>
        <li>sdsad</li>
        <li>sdsad</li>
      </ul>
    </div>
    <div>
      <label>Formação acadêmica</label>
      <ul>
        <li>sdsad</li>
        <li>sdsad</li>
        <li>sdsad</li>
      </ul>
    </div>
    <div>
      <label>Cursos e certificações</label>
      <p>sdadadadas</p>
    </div>
  </section>

  <section id="contato" class="contato">
    <h4 class="title">Contato</h4>

    <app-rede-social></app-rede-social>
  </section>

  <section id="cursos" class="cursos">
    <h4 class="title">Cursos disponiveis</h4>

    <div style="display: flex; flex-wrap: wrap; justify-content: center;">
      <article *ngFor="let youtubeLink of youtubeList">
        <a href="{{youtubeLink.link}}" class="cursos__link" target="_blank">
          <img src="{{youtubeLink.banner}}" alt="{{youtubeLink.title}}"/>
        </a>
      </article>
    </div>

    <div class="cursos__button">
      <a href="https://hotmart.com/pt-br/marketplace">Vejas mais cursos</a>
    </div>

  </section>

  <p *ngIf="textoEnviado">Texto enviado com sucesso</p>
</main>

