<main>
  <section class="styleSection">
    <section class="shadowSection">
      <h1>{{'PORTIFOLIO.TITLE' | translate}}</h1>
      <h2>{{'PORTIFOLIO.DESCRIPTION' | translate}}</h2>
    </section>
  </section>

  <section class="styleSection">
    <section class="section sobreMim">
      <h3>{{'PORTIFOLIO.ABOUT_ME.TITLE' | translate}}</h3>

      <aside class="sobreMim__article__aside">
        <p>{{'PORTIFOLIO.ABOUT_ME.DESCRIPTION' | translate}}</p>
      </aside>
    </section>

    <section class="section timeline">
      <h3>{{'PORTIFOLIO.WORK_TIMELINE.TITLE' | translate}}</h3>
      <div class="timeline__body" [style.background-image]="'url(' + backgroundImageUrl + ')'">
        <div class="timeline__body--shadow">
          <aside class="timeline__body__aside">
            <timeline-component (choseTheme)="choseTheme = $event"/>
          </aside>
          <article class="timeline__article">
            <app-experiencia *ngIf="choseTheme"
                             [myExperience]="getExperienceForTheme(choseTheme)"
                             class="experience__article__aside--app"/>
          </article>
        </div>
      </div>
    </section>

    <section class="section skill">
      <h3>Tecnologia & Habilidades</h3>
      <article class="skill__article">

        <skill-tecnology *ngFor="let tecnology of listTecnologys"
                         [tecnologyName]="tecnology.tecnologyName"
                         [mySkillLevel]="tecnology.mySkillLevel"
                         [tecnologyImg]="tecnology.tecnologyImg">
        </skill-tecnology>

      </article>
    </section>

    <section class="section experience">
      <h3>Social Action</h3>
      <article class="experience__article">
        <p>Nucleo De Educacao Ambiental Francisco De Assis</p>
        <p>Associação dos Pais e Amigos de Leucêmicos de Alagoas -APALA</p>
        <p>ONG Pata Amada</p>
        <p>Mesário 2020</p>
      </article>
    </section>
  </section>
</main>

