<main>
  <section id="sobre" class="sobre">
    <section class="sobre__title">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZB5So-rDGDJ4EzI9ULE1K3t_an2dgGKDmHM2AvZZwag&s=10"/>

      <aside>
        <h2>TITULO CHAMATIVO</h2>
        <h3>Texto de descrição</h3>
        <article>
          <p>{{ sobremin_texto1 }}</p>
        </article>
      </aside>
    </section>
  </section>

  <section id="cursos" class="cursos">
    <h4 class="title">Cursos disponiveis</h4>

    <div style="display: flex;">
      <article *ngFor="let youtubeLink of youtubeList">
        <a href="{{youtubeLink.link}}" class="cursos__link" target="_blank">
          <img src="{{youtubeLink.banner}}" alt="{{youtubeLink.title}}"/>
        </a>
      </article>
    </div>

  </section>

  <section id="contato" class="contato">
    <h4 class="title">Contato</h4>
    <form class="contato__form" action="https://api.staticforms.xyz/submit" method="post">
      <div class="contato__form__column">
        <label>Nome</label>
        <input name="name" type="text" required/>
      </div>

      <div class="contato__form__column">
        <label>Email</label>
        <input name="email" type="email" required/>
      </div>

      <div class="contato__form__column">
        <label>Texto</label>
        <textarea name="message" required></textarea>
      </div>

      <button type="submit">Enviar</button>

      <input type="hidden" name="accessKey" value="3e3cd3a3-e0b1-4a5b-b6b7-9d134207d8e9">
      <!--      <input type="hidden" name="redirectTo" value="https://eyder.com.br">-->
    </form>
  </section>

  <p *ngIf="textoEnviado">Texto enviado com sucesso</p>
</main>

