@import "../../../assets/sass/layout/layout";
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

header {
  display: flex;
  align-items: center;
  width: 100%;
  background: $neutrals900;
  padding: 0 2rem;
  box-shadow: 0 2px 10px $neutrals900;
  z-index: 2000;
  @include media(tablet, laptop, desktop, big-screen) {
    flex-direction: row;
    justify-content: space-between;
    height: 4rem;
  };
  @include media(phone) {
    flex-direction: column;
    justify-content: center;
    height: 6rem;
  };
  & .topHeader {
    display: flex;
    align-items: center;
    @include media(laptop, desktop, big-screen) {
      justify-content: space-between;
    }
    @include media(phone, tablet) {
      justify-content: center;
    }
    &__logo {
      text-transform: uppercase;
      font-family: 'Dela Gothic One', sans-serif;
      & h1 {
        margin: 0;
        font-size: 2rem;
        color: $neutrals100;
      }
    }
  }

  & nav a {
    color: $neutrals100;
    margin-right: 0.5rem;
    &:last-child {
      margin-right: 0;
    }
  }
}
