@import "../../../../assets/sass/layout/layout";

.timeline {
  @include media(desktop, big-screen) {
    max-width: 270px;
  }
  @include media(laptop, tablet, phone) {
    width: 4rem;
  }
  &__content {
    position: relative;
    padding: 1rem 1rem 1rem 4rem;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    @include media(desktop, big-screen) {
      padding: 1rem 1rem 1rem 4rem;
    }
    @include media(laptop, tablet, phone) {
      height: 50px;
      padding: 1rem 1rem 1rem 3rem;
    }
    &__title {
      @include media(desktop, big-screen) {
        color: rgba(0, 0, 0, 0.9);
        font-size: 1rem;
        margin-block: 0;
        visibility: visible;
      }
      @include media(laptop, tablet, phone) {
        display: none;
      }
    }
    &__number {
      position: absolute;
      content: var(--year);
      width: 2rem;
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      color: white;
      border-radius: 50%;
      background-color: #333;
      box-shadow: inset 0 0 0 1px white;
      border: 1px solid #333;
      left: 1rem;
      top: 0.74rem;
      transition: 0.5s;
    }
    &:hover {
      & .timeline__content__number {
        border-radius: 0.25rem;
        transform: scale(1.2);
        z-index: 1000;
      }
    }
    &:active {
      & .timeline__content__number {
        background: red;
        transform: scale(1.2);
        z-index: 1000;
      }
    }
    &:not(:last-child):before {
      position: absolute;
      content: "";
      width: 4px;
      background-color: #333;
      left: calc(2rem - 2px);
      top: 2.74rem;
      bottom: -0.74rem;
      z-index: 1;
    }
  }
}
