<div class='timeline'>
  <div class='timeline__content' (click)="escolherTema(Timeline.LIFEBEGINNER)">
    <h4 class="timeline__content__title">Onde tudo começou!</h4>
    <span class="timeline__content__number">0</span>
  </div>
  <div class='timeline__content' (click)="escolherTema(Timeline.ENG_CIVIL)">
    <h4 class="timeline__content__title">Engenharia civil</h4>
    <span class="timeline__content__number">1</span>
  </div>
  <div class='timeline__content' (click)="escolherTema(Timeline.ENG_SEG_TRAB)">
    <h4 class="timeline__content__title">Engenharia de Segurança do Trabalho</h4>
    <span class="timeline__content__number">2</span>
  </div>
  <div class='timeline__content' (click)="escolherTema(Timeline.SISTEMA_INFORMACAO)">
    <h4 class="timeline__content__title">Sistemas de Informação</h4>
    <span class="timeline__content__number">3</span>
  </div>
  <div class='timeline__content' (click)="escolherTema(Timeline.PROJECT_ALEX)">
    <h4 class="timeline__content__title">Projeto Alex</h4>
    <span class="timeline__content__number">4</span>
  </div>
  <div class='timeline__content' (click)="escolherTema(Timeline.ESTAGIO)">
    <h4 class="timeline__content__title">Estágio Prefeitura de Maceió</h4>
    <span class="timeline__content__number">5</span>
  </div>
  <div class='timeline__content' (click)="escolherTema(Timeline.INDRA)">
    <h4 class="timeline__content__title">Indra Company</h4>
    <span class="timeline__content__number">6</span>
  </div>
  <div class='timeline__content' (click)="escolherTema(Timeline.SISTEMATECH)">
    <h4 class="timeline__content__title">Sistematech</h4>
    <span class="timeline__content__number">7</span>
  </div>
</div>
