<footer id="footer" class="footer">
  <section class="footer__logo">
    <a routerLink="/"
       routerLinkActive="activebutton"
       ariaCurrentWhenActive="page">
      <h1>Template</h1>
    </a>
  </section>

  <app-rede-social></app-rede-social>

  <section class="footer__copyright">
    <span>© 2026 Todos os direitos reservados.</span>

    <br/>

    <span>
      Este produto é comercializado através da plataforma Hotmart. Os resultados apresentados nesta página são
      de alunos reais que aplicaram o método. Resultados individuais podem variar e dependem de esforço, dedicação,
      frequência de aplicação econdições individuais de cada pessoa. Não há garantia de resultados idênticos.
    </span>
  </section>
</footer>
