@import "../../../../assets/sass/layout/layout";

.acessibilidade {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  &__texto {
    & button {
      &:first-child {
        margin-right: 5px;
      }
    }
  }
  &__vlibras {
    position: relative;
  }
}
