@import "../../../../assets/sass/layout/layout";

.moonSvg {
  background-image: url("../../../../assets/svg/moon.svg");
  width: 80px;
  height: 80px;
  top: -25px;
  left: -25px;
  transform: scale(0.3);
}
.sunSvg {
  background-image: url("../../../../assets/svg/sun.svg");
  width: 120px;
  height: 113px;
  transform: scale(0.22);
  top: -42px;
  left: -45px;
}
